/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500|Open+Sans:300,400,700|Raleway:100i,300,400,500,700");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #FF794C;
$darkblue: #34495E;
$blue: #1F5F8B;
$lightblue: #09A8FA;
$gray: #F2F2F2;
$darkgray: #6C7A89;


$green: #11BFAE;
$yellow: #F7AF1D;
$orange: #E67E22;
$lightgreen: #4ED99C;
