<h1 class="text-center">It's a match !</h1>

<p>
  Hi <%= @candidate.name %>,
</p>

<p>
  We are glad to tell you that your profile was short-listed on WeRes for a job opportunity. Please find below some information on this company :
  <ul>
    <li>Company : <%= @company %></li>
    <li>Job Offer : <%= @job_offer %></li>
  </ul>
</p>
<p>
  Feel free to contact us at contact@weres.eu should you have any question.
</p>
<p>
  Hope this opportunity will fit your needs !
</p>

<p>
  The WeRes Team
</p>
