.candidates {
  div:nth-child(even) {
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #E7E7E7;
  }
  div:nth-child(odd) {
    list-style: none;
    background-color: $gray;
    border-bottom: 1px solid #E7E7E7;
  }
}

.rating {
  padding-top: 30px;
}

.favourite {
  color: black;
}
.favourited {
  color: yellow !important;
}

.send-inmail {
  margin-top: 40px;
}
