.candidates {
  &:nth-child(even) {
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #E7E7E7;
  }
  &:nth-child(odd) {
    list-style: none;
    background-color: $gray;
    border-bottom: 1px solid #E7E7E7;
  }
}

.candidates {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}
.candidates-info {
  flex: 0 0 80%;
  h3 {
    width: 600px;
  }
}

.favourite {
  color: $darkblue;
}
.favourited {
  color: $green !important;
}

.send-inmail-index {
  position: absolute;
  top: 93px;
  right: 38px;
}

.rating {
  position: absolute;
  top: 43px;
  right: 87px;
  font-size: 20px;
}

.sent-inmail-index {
  position: absolute;
  top: 93px;
  right: 52px;
  background-color: none;
  color: $darkblue;
}

.rating-candidates {
  position: absolute;
  top: 7px;
  right: 41px;
  font-size: 16px;
}
