.candidates {
  &:nth-child(even) {
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #E7E7E7;
  }
  &:nth-child(odd) {
    list-style: none;
    background-color: $gray;
    border-bottom: 1px solid #E7E7E7;
  }
}

.candidates {
  display: flex;
  align-items: center;
  padding: 20px;
}
.candidates-info {
  flex: 0 0 80%;
}
.candidates-rating {
  flex: 0 0 20%;
}

.rating {
  padding-top: 30px;
}

.favourite {
  color: black;
}
.favourited {
  color: yellow !important;
}

.send-inmail {
  margin-top: 40px;
}
