<div class="wrapper-contact text-center">
  <div class="page-content">
    <h1 class="text-center title new-contact">We are currently in beta mode, please leave your information to be the first to experiment We.Res</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
           <div class="formulaire">
            <%= render 'form' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <%= link_to "Cancel", root_path, class: "btn btn-danger back-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
