<div class="page-content">
  <h1 class="text-center title">We are currently in beta mode, please leave your information to be the first to experiment We.Res</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
         <div class="formulaire">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
