<%= link_to company_candidate_path(@company, candidate, job_offer_id: candidate.job_offer) do %>
  <h4><strong><%= candidate.name %></strong></h4>
  <p><strong>Current Position: </strong><%= candidate.position %></p>
<% end %>
