<% @candidates.each do |candidate| %>
  <div class="search-wraper">
    <div class="search-result-image"></div>
    <div class="search-result-info">
      <h3><%= candidate.name %></h3>
      <p><strong><%= candidate.position %></strong></p>
      <p>Recommended by <strong><%= candidate.reference%></strong></p>
    </div>
    <div class="search-result-action"></div>
  </div>
<% end %>

