<% if policy(@candidates).show? %>
  <% content_for :sidebar do %>
    <div id="sidebar">
      <div class="all-tabs">
        <div class="tab-block">
          <% @company.job_offers.each do |jb|%>
          <% if jb.candidates == [] %>
            <a class="tabs" data-target="#job_offer_<%=jb.id %>">
              <h5><i class="fa fa-file-text"></i>   <%=     jb.title.upcase %></h5>
            </a>
            <% end  %>
          <% end  %>
        </div>
        <div class="tab-button-add">
          <a class="tabs" data-target="#top-tab"><h5></h5></a>
        </div>
      </div>
    </div>
  <% end %>


  <div class="page-content">
    <div class="loader">
      <div class="container">
       <div class="row">
       <div class="col-xs-12">
         <h2>Our intelligent matching is finding the best candidates for you...</h2>
       </div>
       <div class="col-xs-12">
        <div class="spinner">
          <div class="ball ball-1"></div>
          <div class="ball ball-2"></div>
          <div class="ball ball-3"></div>
          <div class="ball ball-4"></div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: "<%= matching_company_candidates_path(@company) %>",
        success: function(data) {
          var tab_anchor = window.location.hash;
          $(".page-content").hide();
          $(".page-content").html(data);
          $("a[data-target='" + tab_anchor + "']").trigger("click")
          $(".page-content").slideDown();


          $('[data-skill]').each(function(){
          var item = $(this),
            skill = item.data('skill'),
            size = item.data('skill-size'),
            border = 5,
            radius = 50,
            circumference = 2 * Math.PI * radius,
            progress = circumference - ((circumference / 100) * skill),
            speed = 1000;
          item.append('<h3>0</h3><svg><circle class="back" /><circle class="front" /></svg>');
          $({Counter: 0}).animate({
              Counter: skill
            }, {
              duration: speed,
              easing: 'swing',
              step: function () {
              item.find('h3').text(Math.ceil(this.Counter) + '%');
            }
          });
          item.find('svg').width(200).height(200);
          item.find('circle').attr({
            'r' : radius,
            'cy' : radius + border,
            'cx' : radius + border
          });
          item.find('.front').css({
            'stroke-dasharray' : circumference,
            'stroke-dashoffset' : circumference
          }).animate({
            'stroke-dashoffset' : progress
          }, speed);
          });


          $(".favourite, .favourited").click(function(){
            $(this).toggleClass("favourited")
          });

        },
        error: function(jqXHR) {
          console.error(jqXHR.responseText);
        }
      });

    });
  </script>
 <% end %>




