

  <div id="sidebar">

  </div>

<div class="page-content">
  <div class="background">
    <div class="title">
      <h1 class="text-center index-title">List of candidates</h1>
    </div>

    <div class="tab-content-width">
      <div class="container">
        <div class="row">
          <div class="tab-content-space">
            <% @candidates.each do |candidate| %>
              <ul>
                <div class="col-xs-12">

                  <li>
                    <h3><%= candidate.name %></h3>
                    <p><strong><%= candidate.position %></strong></p>
                    <p>Recommended by <strong><%= candidate.job_offer.user.company.name%></strong></p>
                  </li>

                </div>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







