<h1 class="text-center title">Add your new candidate</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
       <div class="formulaire">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
