<h1 class="text-center title">Edit your job offer</h1>

<div class="formulaire">
  <%= render 'form', job_offer: @job_offer %>
  <%= link_to "Cancel", job_offer_path(@job_offer), class: "btn btn-danger" %>
</div>
