<!-- <div class="tab-content hidden" id="job_offers">
 -->  <h2 class="job_offer-title"> My skills </h2>
<div class="container">
  <div class="row">
    <% @company.job_offers.each do |job_offer|%>
    <%= link_to job_offer_path(@company, job_offer) do %>
      <div class="col-xs-9">
         <div class="product">
            <div class='product-body'>
              <h3><strong><%= job_offer.title %></strong></h3>
              <p>Uploaded on: <%= job_offer.created_at.strftime("%b %d, %Y")%></p>
            </div>
          </div>
      </div>
      <div class="col-xs-3">
        <div class="product-candidates">
          <p>2 contacted    <i class="fa fa-user productright"></i></p>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
<!-- </div>
 -->

<div class="add-btn">
  <%= link_to "Add Job Offer", new_company_job_offer_path, class: "btn btn-primary" %>
</div>
