<h1 class="text-center title">Add your new job offer</h1>

  <div class="formulaire">

  <%= render 'form', job_offer: @job_offer %>
  <div class="text-center">
  <%= link_to "Cancel", company_path(@company, anchor: "job_offers"), class: "btn btn-danger back-button" %>
  </div>
</div>
