.formulaire {
  background-color: $gray;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  padding: 30px;
  color: black;
}

.form-group {
  color: black;
}

.drag-drop-box {
  border: 1px solid $darkblue;
}
