.progress-bar {
  width: 100px;
  height: 25px;
  background-color: transparent;
  display: flex;
  margin-right: 8px;
}

.progress-value {
  width: 100%;
  color: black;
  z-index: 1
}

progress {
  background-color: transparent;
  border: 0;
  height: 25px;
  border: 1px solid $darkblue;
}

progress::after {
  content: attr(value)'%';
  color: black;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: $green
}

progress::-moz-progress-bar {
  background-color: transparent;
}
