
#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:#CBD7DC;
  margin-top: 70px
}
.page-content {
  margin-left: 200px;
}

.tab-content-width {
  overflow-x: hidden;
}

.tab-content-space {
  width: calc(100vw - 200px);
  max-width: 100%;
}

.tabs {
  display: flex;
  padding: 5px 10px 5px 10px;
  h4 {
    padding-bottom: 5px;
  }
}
.tabs a {
  color: white;
}
.tabs:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs.active {
  background: #7293A0;
  color:white;
}

// design 1st tab


.sous-titres {
  color: $blue;
}

.profile-title {
  margin-top: 100px;
}

.back-button-sidebar {
  bottom: 0;
  padding: 0 10px 0 10px;
  margin-left: 38px;
  margin-right: 40px;
  &:hover {
    background-color: $darkblue;
  }
}
.back-button-sidebar.active {
  background-color: $blue;
}


