.sidebar-common {
  position: fixed;
  width: 200px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh);
  h4 {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: none;
  }
}

.sidebar-logo {
  img {
    height: 45px;
  }
}

.tools {
  margin-top: 20px;
  left: 100px;
  font-size: 14px;
  padding: none;
  a {
  color: white;
  }
}

.logout-button {
  margin-left: 12px;
  color: white;
  a {
    color: white
  }
  i {
    margin-right: 8px;
  }
}

.tab-button-add {
  padding-bottom: 5px;
}
.sidebar-top {
  margin-right: 6px;
  p {
    margin-left: 6px;
  }
}
.sidebar-top-except-add {
  border-bottom: 2px solid $green;
  margin-right: 6px;
  p {
    margin-left: 6px;
  }
}

