
#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:#CBD7DC;
  margin-top: 70px
}
#page-content {
  margin-left: 200px;
}

.tabs {
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
}
.tabs:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs.active {
  background: #7293A0;
  color:white;
}

// design 1st tab


.sous-titres {
  color: $blue;
}

.profile-title {
  margin-top: 100px;
}
